.content {
  background-color: rgb(220, 222, 223);
  width: 50%;
  float: left;
}

.pagination {
  align-items: center;
  font-size: 8px;
}

.nav-Pagination {
  margin: auto;
}

.toast-msg {
  background-color: rgb(184, 186, 187);
}
