.main-content {
  background-color: rgb(173, 192, 204);
  clear: both;
}

.list-parts li {
  list-style-type: none;
  text-decoration: none;
  color: rgb(53, 97, 117);
}

.footer-content h5 {
  font-size: 18px;
  margin-left: 10%;
  color: rgb(30, 69, 87);
}
